<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
</head>
<body>
<h1>로그인 페이지</h1>
<form>
    <label for="username">아이디:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password"><br><br>
    <button onclick="login()">로그인</button>
</form>
<script>

function checkLoginStatus() {
    const cookieName = "userLoggedIn";
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.startsWith(cookieName + '=')) {
            // 쿠키에 값이 있으면 사용자가 로그인한 것으로 판단
            return true;
        }
    }

    window.location.href = "/signInPage";
    return false;
}

window.onload = checkLoginStatus();

</script>
</body>
</html>
