<!DOCTYPE html>
<html>
<head>
    <title>메인화면</title>
</head>
<body>
<h1 id="welcome"></h1>
<form>
    <button onclick="logOut()">로그아웃</button>
    <button onclick="leave()">회원탈퇴</button>
</form>
<script>
    var getCookie = function(name) {
        var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value? value[2] : null;
    };


    function checkLoginStatus() {
        const token = getCookie("token")
        if(token == "undefined" || token == null || token == "") {
            window.location.href = "/signInPage";
            return false;
        } else {
            getUser(token)
            // getTodo(token)
        }
    }

    function getUser(token) {
        fetch("http://localhost:8080/api/v1/users/me", {
            method: "GET",
            headers: {
                "Authorization": "Bearer " + token
            },
        })
        .then((response) => response.json())
        .then((data) => {
            document.getElementById("welcome").innerText = data.nickName + "님의 TodoList"
        })
    }

    function logOut() {
        document.cookie = "token" + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
    }

    function leave() {
        const token = getCookie("token")
        if(token != "undefined" && token != null && token != "") {
            fetch("http://localhost:8080/api/v1/users/me", {
                method: "DELETE",
                headers: {
                    "Authorization": "Bearer " + token
                },
            })
            .then((response) => {
                document.cookie = "token" + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                alert("회원탈퇴가 완료 되었습니다.")
                location.reload();
            })
        }
    }

window.onload = checkLoginStatus();

</script>
</body>
</html>
